.film-details .quote {
    margin-top: 2em;
    background: #eee;
    padding: 1em;
    border-radius: 1em;
}
.film-details .quote blockquote {
    margin: 1em;
}
.film-details blockquote::before {
    content: open-quote;
}
.film-details blockquote::after {
    content: close-quote;
}
.film-details blockquote {
    quotes: "“" "”" "‘" "’";
}

.film-details .character {
    display: inline-block;
    background: #eee;
    border-radius: 1em;
    padding: 1em;
    margin: .5em;
}
